<%- include('./partials/header.ejs'); %>



    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
        <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Finapac  </span></h2>
                    <p class="animate__animated fanimate__adeInUp">Finapac is an accounting, payroll, inventory and point of sale system that minimizes paper work, unplanned costs, middle-work, and more there by providing</p>
                    <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown">Proven</h2>
                    <p class="animate__animated animate__fadeInUp">A reliable software that guarantees optimal organization productivity.</p>
                    <a href="#features" class="btn-get-started animate__animated animate__fadeInUp scrollto">Features</a>
                </div>
            </div>

            <!-- Slide 3 -->
            <div class="carousel-item">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown">Efficient</h2>
                    <p class="animate__animated animate__fadeInUp">An Efficient software that minimizes paper work, unplanned costs, middle-work, and more there by providing.</p>
                    <a href="#features" class="btn-get-started animate__animated animate__fadeInUp scrollto">Features</a>
                </div>
            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>

        <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
    <defs>
      <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
    </defs>
    <g class="wave1">
      <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
    </g>
    <g class="wave2">
      <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
    </g>
    <g class="wave3">
      <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
    </g>
  </svg>

    </section>
    <!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <!-- <section id="about" class="about">
          <div class="container">

              <div class="section-title" data-aos="zoom-out">
                  <h2>About</h2>
                  <p>Who we are</p>
              </div>

              <div class="row content" data-aos="fade-up">
                  <div class="col-lg-6">
                      <p>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </p>
                      <ul>
                          <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
                          <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
                          <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
                      </ul>
                  </div>
                  <div class="col-lg-6 pt-4 pt-lg-0">
                      <p>
                          Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                          id est laborum.
                      </p>
                      <a href="#" class="btn-learn-more">Learn More</a>
                  </div>
              </div>

          </div>
      </section> -->
        <!-- End About Section -->

        <!-- ======= Features Section ======= -->
        <section id="features" class="features">
            <div class="container">

                <div class="section-title" data-aos="zoom-out">
                    <h2>Features</h2>
                </div>
                <ul class="nav nav-tabs row d-flex">
                    <li class="nav-item col-3" data-aos="zoom-in">
                        <a class="nav-link active show" data-toggle="tab" href="#tab-1">
                            <i class="ri-team-line"></i>
                            <h4 class="d-none d-lg-block">Management</h4>
                        </a>
                    </li>
                    <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="100">
                        <a class="nav-link" data-toggle="tab" href="#tab-2">
                            <i class="ri-apps-2-line"></i>
                            <h4 class="d-none d-lg-block">Integration</h4>
                        </a>
                    </li>
                    <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="200">
                        <a class="nav-link" data-toggle="tab" href="#tab-3">
                            <i class="ri-bar-chart-grouped-line"></i>
                            <h4 class="d-none d-lg-block">accounting</h4>
                        </a>
                    </li>
                    <li class="nav-item col-3" data-aos="zoom-in" data-aos-delay="300">
                        <a class="nav-link" data-toggle="tab" href="#tab-4">
                            <i class="ri-bill-line"></i>
                            <h4 class="d-none d-lg-block">Billing and order processing</h4>
                        </a>
                    </li>
                </ul>

                <div class="tab-content" data-aos="fade-up">
                    <div class="tab-pane active show" id="tab-1">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                                <h3>Inventory Management.</h3>
                                <p class="font-italic">
                                    Finapac has got an inventory component that helps you keep track of all your products and help you better visualize which products perform well and which don't. It contains :
                                </p>
                                <ul>
                                    <li><i class="ri-check-double-line"></i> real time quick search for illegible barcodes and products without bar codes</li>
                                    <li><i class="ri-check-double-line"></i> Real Time general stock reporting and by product,</li>
                                    <li><i class="ri-check-double-line"></i> , brand, category, manufacturer and supplier..</li>
                                </ul>
                                <p>
                                    It can managing small, mid-size and large Enterprises.
                                </p>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="assets/img/reporting.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-2">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                                <h3>POS Integration</h3>
                                <p>
                                    FINAPAC is integrated with POS, Inventory and Payroll suitable for retail, wholesale, stockists, distributors and manufacturers.
                                </p>
                                <p class="font-italic">
                                    It can be integrated with any POS System and can provide some of the features like:
                                </p>
                                <ul>
                                    <li><i class="ri-check-double-line"></i>Ability to create and print own bar codes for products without bar codes..</li>
                                    <li><i class="ri-check-double-line"></i> Improved user experience.</li>
                                    <li><i class="ri-check-double-line"></i> Customer Details management</li>

                                </ul>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="assets/img/features-2.png" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-3">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                                <h3>accounting</h3>
                                <p>
                                    FINAPAC is all-in-one financial package that will meet all accounting needs through :
                                </p>
                                <ul>
                                    <li><i class="ri-check-double-line"></i>Real Time Inventory re-order reports by product, brand, category and vender..</li>
                                    <li><i class="ri-check-double-line"></i>Multiple, open, fixed and pre-defined prices.</li>
                                    <li><i class="ri-check-double-line"></i> Real Time general stock reporting and by product, brand, category, manufacturer and supplier.</li>
                                    <li><i class="ri-check-double-line"></i>Real Time sales reporting between any time and Date, per product, category, customer and sales persons .
                                    </li>
                                </ul>
                                <p class="font-italic">
                                    Finapac
                                </p>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="assets/img/scanner2.gif" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-4">
                        <div class="row">
                            <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                                <h3>Billing and order processing</h3>
                                <p>
                                    finapac is able to bill orders by
                                </p>
                                <p class="font-italic">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                                <ul>
                                    <li><i class="ri-check-double-line"></i>scanning items .</li>
                                    <li><i class="ri-check-double-line"></i> Capturing different payment modes.</li>
                                    <li><i class="ri-check-double-line"></i> has got the capability of generating order invoice, reprint and email to end customer along with adding the discount .</li>
                                </ul>
                            </div>
                            <div class="col-lg-6 order-1 order-lg-2 text-center">
                                <img src="assets/img/scanner.gif" alt="billing" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Features Section -->

        <!-- ======= Cta Section ======= -->
        <section id="cta" class="cta">
            <div class="container">

                <div class="row" data-aos="zoom-out">
                    <div class="col-lg-9 text-center text-lg-left">
                        <h3>Are You Ready To Get Started?</h3>
                        <p> Finapac POS is packed with over 300 features in a beautiful, to use design. Get more done with ease and style.</p>
                    </div>
                    <div class="col-lg-3 cta-btn-container text-center">
                        <a class="cta-btn align-middle" href="#">Checkout !</a>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Cta Section -->

        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container">

                <div class="section-title" data-aos="zoom-out">
                    <h2>Services</h2>
                    <p>What we do offer</p>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="icon-box" data-aos="zoom-in-left">
                            <div class="icon"><i class="ri-team-fill" style="color: gold;"></i></div>
                            <h4 class="title"><a href="">Training</a></h4>
                            <p class="description">Scheduled Training to a maximum of 6 hours (2 sessions of 3 hours OR 3 Sessions of 2 hours OR 6 Sessions of 1 hour) will

                                <a href="/each?name=training" class="details-link" title="More Details">. Read More...</a>
                            </p>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mt-5 mt-md-0">
                        <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="100">
                            <div class="icon"><i class="ri-server-line" style="color: #e9bf06;"></i></div>
                            <h4 class="title"><a href="">Installation</a></h4>
                            <p class="description">Costs are available on consultation.One computer is enough to act as both server and client/user, depending on size of the premises.

                                <a href="/each?name=installation" class="details-link" title="More Details">. Read More...</a>
                            </p>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 mt-5 mt-lg-0 ">
                        <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="200">
                            <div class="icon"><i class="ri-hard-drive-line" style="color: gold"></i></div>
                            <h4 class="title"><a href="">Hardware</a></h4>
                            <p class="description">FINAPAC is designed To work on a network with low-end computer systems Works with any bar code scanners Configured
                                <a href="/each?name=hardware" class="details-link" title="More Details">. Read More...</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 mt-5 mt-lg-0 ">
                        <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="200">
                            <div class="icon"><i class="ri-dashboard-2-fill" style="color: gold"></i></div>
                            <h4 class="title"><a href="">System</a></h4>
                            <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque eum quisquam culpa aut repellendus harum!
                                <a href="/each?name=system" class="details-link" title="More Details">. Read More...</a>
                            </p>
                        </div>
                    </div>
                </div>
        </section>
        <!-- End Services Section -->

        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container">

                <div class="section-title" data-aos="zoom-out">
                    <h2>Gallery</h2>
                    <p></p>
                </div>

                <ul id="portfolio-flters" class="d-flex justify-content-end" data-aos="fade-up">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-app">App</li>
                    <li data-filter=".filter-card">Mobile</li>
                    <li data-filter=".filter-web">Web</li>
                </ul>

                <div class="row portfolio-container" data-aos="fade-up">

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-img"><img src="assets/img/training/gst-pos-system-hp-i3-17-touch-screen-pos-economic-pc-set-poslink-1705-25-poslink.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>finapac </h4>
                            <p>App</p>
                            <a href="assets/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 1"><i class="bx bx-plus"></i></a>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>finapac </h4>
                            <p>Web</p>
                            <a href="assets/img/portfolio/portfolio-2.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Finapac</h4>
                            <p>App</p>
                            <a href="assets/img/portfolio/portfolio-3.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 2"><i class="bx bx-plus"></i></a>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Card 2</h4>
                            <p>Card</p>
                            <a href="assets/img/portfolio/portfolio-4.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>

                        </div>
                    </div>

                    <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Web 2</h4>
                            <p>Web</p>
                            <a href="assets/img/portfolio/portfolio-5.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>App 3</h4>
                            <p>App</p>
                            <a href="assets/img/portfolio/portfolio-6.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="App 3"><i class="bx bx-plus"></i></a>

                        </div>
                    </div> -->
                    <!-- 
                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Card 1</h4>
                            <p>Card</p>
                            <a href="assets/img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>

                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                        <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Card 3</h4>
                            <p>Card</p>
                            <a href="assets/img/portfolio/portfolio-8.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>

                        </div>
                    </div> -->

                    <!-- <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                        <div class="portfolio-img"><img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt=""></div>
                        <div class="portfolio-info">
                            <h4>Web 3</h4>
                            <p>Web</p>
                            <a href="assets/img/portfolio/portfolio-9.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>

                        </div>
                    </div> -->

                </div>

            </div>
        </section>
        <!-- End Portfolio Section -->

        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">
            <div class="container">

                <div class="section-title" data-aos="zoom-out">
                    <h2>Testimonials</h2>
                    <p>What our users say about us :</p>
                </div>

                <div class="owl-carousel testimonials-carousel" data-aos="fade-up">

                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i> I have used Finapac for the last 2 years to serve my business and everything
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                        <h3>Paul Mutembei</h3>
                        <h4>Ceo &amp; Founder</h4>
                        <h4>Tuskys</h4>
                    </div>
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i> I have used Finapac for the last 2 years to serve my business and everything
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                        <h3>Paul Mutembei</h3>
                        <h4>Ceo &amp; Founder</h4>
                        <h4>Tuskys</h4>
                    </div>
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i> I have used Finapac for the last 2 years to serve my business and everything
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                        <h3>Paul Mutembei</h3>
                        <h4>Ceo &amp; Founder</h4>
                        <h4>Tuskys</h4>
                    </div>
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i> I have used Finapac for the last 2 years to serve my business and everything
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                        <h3>Paul Mutembei</h3>
                        <h4>Ceo &amp; Founder</h4>
                        <h4>Tuskys</h4>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Testimonials Section -->

        <!-- ======= Pricing Section ======= -->
        <section id="pricing" class="pricing">
            <div class="container">

                <div class="section-title" data-aos="zoom-out">
                    <h2>Pricing</h2>
                    <p>Our Competing Prices</p>
                </div>

                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="box" data-aos="zoom-in">
                            <h3>Free</h3>
                            <h4>Ksh &nbsp 0 <span>  / &nbsp &nbsp &nbsp month</span></h4>
                            <ul>
                                <li><i class="ri-check-line"></i>Real time stock monitoring</li>
                                <li><i class="ri-check-line"></i>Ability to create own barcodes</li>
                                <li class="na">Real Time sales reporting</li>
                                <li class="na">general stock reporting</li>
                                <li class="na">Multiple Product Codes.</li>
                                <li class="na">Real Time Inventory re-order r</li>
                                <li class="na">Multiple Product Codes.</li>
                                <li class="na">Well managed user access roles and policies.</li>
                            </ul>
                            <div class="btn-wrap">
                                <a href="#" class="btn-buy">Buy Now</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
                        <div class="box" data-aos="zoom-in" data-aos-delay="200">
                            <h3>Starter</h3>
                            <h4>Ksh &nbsp 2900<span> / month</span></h4>
                            <ul>
                                <li><i class="ri-check-line"></i>Real time stock monitoring</li>
                                <li><i class="ri-check-line"></i>Ability to create own barcodes</li>
                                <li><i class="ri-check-line"></i>Real Time sales reporting</li>
                                <li class="na">general stock reporting</li>
                                <li class="na">Multiple Product Codes.</li>
                                <li class="na">Real Time Inventory re-order r</li>
                                <li class="na">Multiple Product Codes.</li>
                                <li class="na">Well managed user access roles and policies.</li>
                            </ul>
                            <div class="btn-wrap">
                                <a href="#" class="btn-buy">Buy Now</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
                        <div class="box featured" data-aos="zoom-in" data-aos-delay="100">
                            <h3>popular</h3>
                            <h4>Ksh &nbsp 4900<span> / month</span></h4>
                            <ul>
                                <li><i class="ri-check-line"></i>Real time stock monitoring</li>
                                <li><i class="ri-check-line"></i>Ability to create own barcodes</li>
                                <li><i class="ri-check-line"></i>Real Time sales reporting</li>
                                <li><i class="ri-check-line"></i>general stock reporting</li>
                                <li><i class="ri-check-line"></i>Multiple Product Codes.</li>
                                <li class="na">Real Time Inventory re-order r</li>
                                <li class="na">Multiple Product Codes.</li>
                                <li class="na">Well managed user access roles and policies.</li>
                            </ul>
                            <div class="btn-wrap">
                                <a href="#" class="btn-buy">Buy Now</a>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
                        <div class="box" data-aos="zoom-in" data-aos-delay="300">
                            <span class="advanced">premium</span>
                            <h3>premium</h3>
                            <h4>Ksh &nbsp2900<span> / month</span></h4>
                            <ul>
                                <li><i class="ri-check-line"></i>Real time stock monitoring</li>
                                <li><i class="ri-check-line"></i>Ability to create own barcodes</li>
                                <li><i class="ri-check-line"></i>Real Time sales reporting</li>
                                <li><i class="ri-check-line"></i>general stock reporting</li>
                                <li><i class="ri-check-line"></i>Multiple Product Codes.</li>
                                <li><i class="ri-check-line"></i>Real Time Inventory re-order r</li>
                                <li><i class="ri-check-line"></i>Multiple Product Codes.</li>
                                <li><i class="ri-check-line"></i>Well managed user access roles and policies.</li>
                            </ul>
                            <div class="btn-wrap">
                                <a href="#" class="btn-buy">Buy Now</a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Pricing Section -->

        <!-- ======= F.A.Q Section ======= -->
        <section id="faq" class="faq">
            <div class="container">

                <div class="section-title" data-aos="zoom-out">
                    <h2>F.A.Q</h2>
                    <p>Frequently Asked Questions</p>
                </div>

                <ul class="faq-list">

                    <li data-aos="fade-up" data-aos-delay="100">
                        <a data-toggle="collapse" class="" href="#faq1">How much does finapac cost ? <i class="icofont-simple-up"></i></a>
                        <div id="faq1" class="collapse show" data-parent=".faq-list">
                            <p>
                                Finapac costs ......
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="200">
                        <a data-toggle="collapse" href="#faq2" class="collapsed">Can finapac integrate with my pos system? <i class="icofont-simple-up"></i></a>
                        <div id="faq2" class="collapse" data-parent=".faq-list">
                            <p>
                                Scanner integrates with the Finapacc System to sync your counts and stock levels, removing the need for CSV ......
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="300">
                        <a data-toggle="collapse" href="#faq3" class="collapsed">My barcodes aren't scanning ? <i class="icofont-simple-up"></i></a>
                        <div id="faq3" class="collapse" data-parent=".faq-list">
                            <p>
                                Finapac Scanner supports myriad of common barcodes and datamatrix codes: UPCE, Code39, Code39Mod43, EAN13, EAN8, Code93, Code128, PDF417, AztecCode, Interleaved2of5Code, ITF14Code, DataMatrixCode.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="400">
                        <a data-toggle="collapse" href="#faq4" class="collapsed">Does finapac work on Android ? <i class="icofont-simple-up"></i></a>
                        <div id="faq4" class="collapse" data-parent=".faq-list">
                            <p>
                                Yes, Finapac is currently only available for iPhone, iPad and iPod touch.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="500">
                        <a data-toggle="collapse" href="#faq5" class="collapsed">How can I connect Finapac with scanner? <i class="icofont-simple-up"></i></a>
                        <div id="faq5" class="collapse" data-parent=".faq-list">
                            <p>
                                Simply sign into Finapac in your Scanner app, and you’re all ready to go. If you get stuck call our help center <a href="#contact">contact</a>
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="600">
                        <a data-toggle="collapse" href="#faq6" class="collapsed">What if someone enters incorrect data? <i class="icofont-simple-up"></i></a>
                        <div id="faq6" class="collapse" data-parent=".faq-list">
                            <p>
                                Every completed count in Scanner will get submitted to Finapac Web Register for approval by the account admin, before any stock levels are synced
                            </p>
                        </div>
                    </li>

                </ul>

            </div>
        </section>
        <!-- End F.A.Q Section -->

        <!-- ======= Team Section ======= -->
        <section id="team" class="team">
            <div class="container">

                <div class="section-title" data-aos="zoom-out">
                    <h2>Team</h2>
                    <p>Our Hardworking Team</p>
                </div>

                <div class="row">

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up">
                            <div class="member-img">
                                <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="icofont-twitter"></i></a>
                                    <a href=""><i class="icofont-facebook"></i></a>
                                    <a href=""><i class="icofont-instagram"></i></a>
                                    <a href=""><i class="icofont-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Mwiti .....</h4>
                                <span>Chief Executive Officer</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="100">
                            <div class="member-img">
                                <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="icofont-twitter"></i></a>
                                    <a href=""><i class="icofont-facebook"></i></a>
                                    <a href=""><i class="icofont-instagram"></i></a>
                                    <a href=""><i class="icofont-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Mugambi .....</h4>
                                <span>Assistant technician</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="200">
                            <div class="member-img">
                                <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="icofont-twitter"></i></a>
                                    <a href=""><i class="icofont-facebook"></i></a>
                                    <a href=""><i class="icofont-instagram"></i></a>
                                    <a href=""><i class="icofont-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>William </h4>
                                <span>Assistant technician</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member" data-aos="fade-up" data-aos-delay="300">
                            <div class="member-img">
                                <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="icofont-twitter"></i></a>
                                    <a href=""><i class="icofont-facebook"></i></a>
                                    <a href=""><i class="icofont-instagram"></i></a>
                                    <a href=""><i class="icofont-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Mwenda ....</h4>
                                <span>Accountant</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- End Team Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title" data-aos="zoom-out">
                    <h2>Contact</h2>
                    <p>Contact Us</p>
                </div>

                <div class="row mt-5">

                    <div class="col-lg-4" data-aos="fade-right">
                        <div class="info">
                            <div class="address">
                                <i class="icofont-google-map"></i>
                                <h4>Location:</h4>
                                <p>Westlands Nairobi Kenya, Maddonna house</p>
                            </div>

                            <div class="email">
                                <i class="icofont-envelope"></i>
                                <h4>Email:</h4>
                                <p>finapac@mail.com</p>
                            </div>

                            <div class="phone">
                                <i class="icofont-phone"></i>
                                <h4>Call:</h4>
                                <p>+254789 5548 855</p>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left">

                        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="form-row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validate"></div>
                                </div>
                                <div class="col-md-6 form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validate"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                <div class="validate"></div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                <div class="validate"></div>
                            </div>
                            <div class="mb-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>

                    </div>

                </div>

            </div>
        </section>
        <!-- End Contact Section -->

    </main>
    <!-- End #main -->
    <%- include('./partials/footer.ejs'); %>